@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'copy'; 
  src: url('../fonts/Roboto-Light.ttf'); 
}

@font-face {
  font-family: 'copyBold'; 
  src: url('../fonts/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: 'header'; 
  src: url('../fonts/LEMONMILK-Medium.otf'); 
}

html, body { 
  margin: 0; 
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  background-color: #222;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}


p {
  overflow: scroll;
}


.header {
  font-family: 'header';
  font-size: 6rem;
  margin: 0;
  color: white;
}

.subheader {
  font-family: 'subheader';
  font-size: 2rem;
  margin: -2rem 0 0 0;
  color: white;
}

#debugPane {
  position: fixed;
  top: 100px;
  left: 10px;
}

.infoArea {
  background-color: #222;
  height: 100vh;
}

.infoArea2 {
  background-color: #222;
  height: 100vh;
}

#heroSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  /* overflow: hidden; */
}

#headerContainer {
  position: absolute;
  top: 18vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: url('../textures/inspectorCursor32.png') 16 16, auto;
}

#THREEHeroContainer {
  position: relative;
  cursor: url('../textures/inspectorCursor32.png') 16 16, auto;
  height: 80vh;
  top: 10vh;
}

#futureSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}

#stepsContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 12%;
}

#steps2 {
  margin: 0 1rem;
}

.stepsCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #2a2a2a;
  opacity: 0;
}

.futureCopy {
  font-family: copy;
  color: #ddd;
  font-size: 1rem;
  word-break: break-word;
  overflow: hidden;
}

li {
  font-family: copy;
  color: #ddd;
  font-size: 1rem;
}


#inspectSection {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#inspectContainer {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

#THREEInspContainer {
  height: 50%;
  flex: 1;
  position: relative;
  z-index: 99;
  cursor: url('../textures/inspectorCursor32.png') 16 16, auto;
}

#THREEInspWindow {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}

#inspectTextArea {
  height: 50%;
  flex: 1;
}

.threeIcon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #222;
  padding: 16px;
  border-radius: 28px;
}

.inspIcon {
  float: left;
  height: 2rem;
  padding: 0.25rem 0.5rem;
}

H2 {
  font-family: header;
  color: white;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

H3 {
  font-family: header;
  color: white;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

H4 {
  font-family: header;
  color: white;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.inspectCopy {
  padding: 0 1.5rem;
  font-family: copy;
  color: #ddd;
  font-size: 1rem;
  border-left: solid #ddd 3px;
  word-break: break-word;
  overflow: hidden;
  margin-left: 1.25rem;
}

b {
  color: #fff;
  font-family: copyBold;
}

.inspectCard {
  position: absolute;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 400ms, transform 400ms;
}

.inspectHidden {
  opacity: 0;
  transform: translateX(-100px);
}

.inspectVisible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 900ms, transform 900ms;
}

.regularFont {
  font-family: copyBold;
}

.lightFont {
  font-family: copy;
}

.largeFont {
  font-size: 1.5rem;
}

.mediumLargeFont {
  font-size: 1.25rem;
}

#footerContainer {
  color: #fff;
  margin-top: 25%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10%;
}

.column {
  display: flex;
  flex-direction: column;
}

.headerFooter {
  font-family: 'header';
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #cccccc;
  margin: 0 0 0.5rem 0;
}

.spacer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}

.smallSpacer {
  margin-top: 0.2rem;
}

.linkFooter {
  color: white;
  text-decoration: none;
}
.linkFooter:hover {
  text-decoration: underline;
}
.linkFooter:visited {
  color: white;
  text-decoration: none;
}

.footerText {
  margin: 0 3rem;
}

#bottomImgContainer {
  display: flex;
}

#bottomImg {
  align-self: flex-end;
  height: 175px;
}

#aerialSection {
  background-color: #222;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#aerialContainer {
  margin-top: 2rem;
  position: relative;
  width: 100%;
  max-height: 100%;
}

#aerialImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}

#aerialCardHelipad {
  font-family: 'copy';
  background-color:rgba(40,40,40,0.9);
  color: white;
  position: absolute;
  z-index: 1;
  width: 25%;
  bottom: 20%;
  left: 3%;
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0px 11px 12px 3px rgba(0,0,0,0.25)
}

#aerialCardAirfield {
  font-family: 'copy';
  background-color:rgba(40,40,40,0.9);
  color: white;
  position: absolute;
  z-index: 1;
  width: 25%;
  bottom: 15%;
  left: 50%;
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0px 11px 12px 3px rgba(0,0,0,0.25)
}

#aerialCardTwitcher {
  font-family: 'copy';
  background-color:rgba(40,40,40,0.9);
  color: white;
  position: absolute;
  z-index: 1;
  width: 25%;
  top: 5%;
  left: 30%;
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0px 11px 12px 3px rgba(0,0,0,0.25)
}

#aerialCardFlightZone {
  font-family: 'copy';
  background-color:rgba(40,40,40,0.9);
  color: white;
  position: absolute;
  z-index: 1;
  width: 25%;
  top: 30%;
  right: 5%;
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0px 11px 12px 3px rgba(0,0,0,0.25)
}

/* mobile */
@media screen and (max-width: 480px) {

}

/* tablet */
@media screen and (max-width: 1000px) {
  html {
    font-size: 0.7rem;
  }

  H2 {
    font-size: 1.5rem;
  }

  #futureSection {
    height: 150vh;
    padding-top: 40%;
  }

  #stepsContainer {
    flex-direction: column;
    margin-top: -10%;
  }

  #steps2 {
    margin: 0;
    margin-bottom: 50px;
  }

  .stepsCard {
    margin-bottom: 50px;
  }

  #inspectContainer {
    flex-direction: column;
  }

  #THREEInspContainer {
    height: 40%;
    width: 100%;
  }
  
  #inspectTextArea {
    margin-top: 3rem;
    height: 40%;
    width: 100%;
  }
}