@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'copy'; 
  src: url('../fonts/Roboto-Light.ttf'); 
}

@font-face {
  font-family: 'copyBold'; 
  src: url('../fonts/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: 'header'; 
  src: url('../fonts/LEMONMILK-Medium.otf'); 
}

body { 
  margin: 0; 
  font-size: 1rem;
  font-weight: normal;
  background-color: #222;
}


p {
  overflow: scroll;
}

#headerContainer {
  position: absolute;
  top: 18vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.header {
  font-family: 'header';
  font-size: 7rem;
  margin: 0;
  color: white;
}

.subheader {
  font-family: 'subheader';
  font-size: 2rem;
  margin: -2rem 0 0 0;
  color: white;
}

#THREEContainer {
  position: relative;
  cursor: crosshair;
  height: 80vh;
  top: 10vh;
}

#debugPane {
  position: fixed;
  top: 100px;
  left: 10px;
}

.infoArea {
  background-color: #222;
  height: 100vh;
}

.infoArea2 {
  background-color: #222;
  height: 100vh;
}


.sectionContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0 10%;
  align-items: center;
}

#inspectContainer {
  background-color: #222;
  display: flex;
  flex-direction: row;
}

#THREEInspContainer {
  position: relative;
  z-index: 99;
  padding: 0;
  cursor: url('../textures/inspectorCursor32.png') 16 16, auto;
}

#inspMagnify {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #222;
  padding: 16px;
  border-radius: 28px;
}

#THREEInspWindow {
  width: 600px;
  height: 500px;
  border-radius: 1.5rem;
  overflow: hidden;
}

#inspectTextArea {
  width: 40vw;
  padding: 0 1rem;
}

H3 {
  font-family: header;
  color: white;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.inspectCopy {
  padding: 0 1rem;
  font-family: copy;
  color: #ddd;
  font-size: 1rem;
  border-left: solid #ddd 3px;
  word-break: break-word;
  overflow: hidden;
}

b {
  color: #fff;
  font-family: copyBold;
}

.inspectCard {
  width: 40vw;
  position: absolute;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 400ms, transform 400ms;
}

.inspectHidden {
  opacity: 0;
  transform: translateX(-100px);
}

.inspectVisible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 900ms, transform 900ms;
}