@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'copy'; 
  src: url('../fonts/Roboto-Light.ttf'); 
}

@font-face {
  font-family: 'copyBold'; 
  src: url('../fonts/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: 'header'; 
  src: url('../fonts/LEMONMILK-Medium.otf'); 
}

body { 
  font-family: monospace;
  margin: 0; 
  font-size: 1.3rem;
  font-weight: normal;
  background-color: #222;
}


p {
  overflow: scroll;
}

#headerContainer {
  position: absolute;
  top: 18vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: crosshair;
}

.header {
  font-family: 'header';
  font-size: 6rem;
  margin: 0;
  color: white;
}

.subheader {
  font-family: 'subheader';
  font-size: 2rem;
  margin: -2rem 0 0 0;
  color: white;
}

#THREEContainer {
  position: relative;
  cursor: crosshair;
  height: 80vh;
  top: 10vh;
}

#debugPane {
  position: fixed;
  top: 100px;
  left: 10px;
}

.infoArea {
  background-color: #222;
  height: 100vh;
}

.infoArea2 {
  background-color: #222;
  height: 100vh;
}
